@media screen and (max-width: 1024px) {
  form {
    padding: 2%;
    align-items: flex-end;
  }

  .form-global {
    width: 380px;
    margin-left: 0;
  }

  /* response */

  .response {
    padding: 2%;
    align-items: flex-end;
  }

  /* IMAGEM CARTÃO */

  .card-front,
  .card-back {
    width: 300px;
  }

  .card-front {
    transform: translateY(calc(50% - 290px));
  }

  .circle {
    width: 35px;
    height: 35px;
  }

  .circleSmall {
    width: 15px;
    height: 15px;
  }

  .number-card {
    font-size: 1.2rem;
    letter-spacing: 2px;
    height: 4rem;
  }

  .name-valid-card {
    font-size: 0.8rem;
    height: 2.2rem;
  }

  .content-card-back p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
    gap: 2rem;
  }

  .form,
  .response {
    width: 100%;
  }

  .form-global {
    width: 100%;
  }

  /* response */

  .response {
    align-items: center;
    margin-top: 2rem;
  }

  .check {
    width: 5rem;
    height: 5rem;
  }

  .check i {
    font-size: 2.2rem;
  }

  /* CONTEUDO LEFT */

  .background-left {
    width: 100%;
    height: 300px;
  }

  /* IMAGEM CARTÃO */

  .card-front {
    transform: translateY(calc(50% - 50px));
    right: calc(50% - 100px);
  }

  .card-back {
    transform: translateY(calc(50% - 142px));
    right: calc(50% - 180px);
  }
}

@media screen and (max-width: 425px) {
  /* CONTEUDO LEFT */

  .background-left {
    height: 250px;
  }

  /* IMAGEM CARTÃO */

  .card-front,
  .card-back {
    width: 280px;
  }

  .card-front {
    transform: translateY(calc(50% - 70px));
    right: calc(50% - 100px);
  }

  .card-back {
    transform: translateY(calc(50% - 157px));
    right: calc(50% - 180px);
  }

  .circle {
    width: 30px;
    height: 30px;
  }

  .circleSmall {
    width: 10px;
    height: 10px;
  }

  .number-card {
    font-size: 1.1rem;
    letter-spacing: 2px;
    height: 3.5rem;
  }

  .name-valid-card {
    font-size: 0.7rem;
    height: 2.2rem;
  }

  .content-card-back p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 375px) {
  form {
    padding: 4%;
  }

  .form-global {
    width: 100%;
    /* margin-left: 0;
    padding: 0; */
  }

  .content-name,
  .content-card {
    width: 100%;
  }

  .content-name input,
  .content-card input {
    width: 100%;
  }

  .info-card,
  .btn-confirm {
    width: 100%;
  }

  /* response */

  .response {
    padding: 4%;
  }

  .response-content {
    width: 100%;
  }

  .check {
    width: 5rem;
    height: 5rem;
  }

  .check i {
    font-size: 2.2rem;
  }

  .btn-response {
    width: 100%;
  }

  /* IMAGEM CARTÃO */

  .card-front,
  .card-back {
    width: 250px;
  }

  .card-front {
    transform: translateY(calc(50% - 60px));
    right: calc(50% - 90px);
  }

  .card-back {
    transform: translateY(calc(50% - 138px));
    right: calc(50% - 160px);
  }

  .circle {
    width: 25px;
    height: 25px;
  }

  .circleSmall {
    width: 8px;
    height: 8px;
  }

  .number-card {
    font-size: 1rem;
    letter-spacing: 1px;
    height: 3rem;
  }

  .name-valid-card {
    font-size: 0.6rem;
    height: 2.2rem;
  }

  .content-card-back p {
    font-size: 0.6rem;
  }
}
