@import url("https://fonts.googleapis.com/css2?family=Alice&family=Bodoni+Moda:opsz@6..96&family=Caprasimo&family=Cormorant:wght@300&family=Inclusive+Sans&family=Lobster&family=Lobster+Two&family=Open+Sans:wght@300;500;700&family=Outfit:wght@300;400;600&family=Poppins:wght@100;400&family=Roboto+Slab:wght@100&family=Roboto:wght@100;400&family=Space+Grotesk:wght@500&display=swap");

:root {
  --color-purple-light: hsl(270, 3%, 87%);
  --color-purple-dark: hsl(279, 6%, 55%);
  --color-purple-very-dark: hsl(278, 68%, 11%);
  --color-white: hsl(0, 0%, 100%);
  --tam-letra: 18px;
  --font-family: "Space Grotesk";
  --border-input-active: hsl(278, 94%, 30%);
  --color-background-check: linear-gradient(
    hsl(249, 99%, 64%),
    hsl(278, 94%, 30%)
  );
  --border-erro-red: rgba(255, 0, 0, 0.76);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Space Grotesk";
}

main {
  display: flex;
}

/* CONTEUDO LEFT */

.background-left {
  width: 35%;
  height: 99vh;
  position: relative;
}

.background-left img {
  width: 100%;
  height: 100%;
}

/* CONTEÚDO RIGHT */

form {
  width: 65%;
  padding: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-global ::placeholder {
  color: var(--color-purple-light);
}

.form-global {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 20px;

  margin-left: 5rem;
}

.content-name,
.content-card {
  display: flex;
  flex-direction: column;
}

.content-name label,
.content-card label,
.date-exp-card label,
.cod-card label {
  font-family: "Space Grotesk";
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.content-name input,
.content-card input {
  width: 22.5rem;
  height: 2.2rem;
  border: 1px solid var(--color-purple-light);
  border-radius: 0.3rem;
  padding: 10px;
  text-transform: uppercase;
}

.content-name input:focus,
.content-card input:focus,
.date-exp-card input:focus,
.cod-card input:focus {
  border: 1px solid var(--border-input-active);
  /* background: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%)); */
}

.info-card {
  width: 22.5rem;
  display: flex;
  gap: 1.5rem;
}

.date-exp-card {
  width: 12rem;
  display: flex;
  flex-direction: column;
}

.date-exp-card-inputs {
  display: flex;
  gap: 0.6rem;
}

.cod-card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.date-exp-card input {
  width: 4.5rem;
  height: 2.5rem;
  border: 1px solid var(--color-purple-light);
  border-radius: 0.3rem;
  padding: 10px;
}

.cod-card input {
  width: 100%;
  height: 2.5rem;
  border: 1px solid var(--color-purple-light);
  border-radius: 0.3rem;
  padding: 10px;
}

.btn-confirm {
  width: 22.5rem;
  height: 3rem;
  background-color: var(--color-purple-very-dark);
  color: var(--color-white);
  font-size: 1rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;

  transition: all 0.2s;
}

.btn-confirm:hover {
  background-color: var(--color-white);
  color: var(--color-purple-very-dark);
  border: 2px solid var(--color-purple-very-dark);
}

.input-number-card.erro,
.input-month.erro,
.input-year.erro,
.input-code.erro {
  border: 1px solid var(--border-erro-red);
}

.erro-numberCard,
.erro-monthCard-yearCard,
.erro-codeCard {
  visibility: hidden;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  color: var(--border-erro-red);
}

/* RESPOSTA */

.response {
  width: 65%;
  padding: 4%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.response-content {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.check {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
}

.check i {
  color: var(--color-white);
  font-size: 1.9rem;
}

.response-content div + p {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--color-purple-very-dark);
  margin-top: 1rem;
  letter-spacing: 4px;
}

.response-content p ~ p {
  color: var(--color-purple-dark);
}

.btn-response {
  width: 23rem;
  height: 3rem;
  background-color: var(--color-purple-very-dark);
  color: var(--color-white);
  font-size: 1rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;

  transition: all 0.2s;
}

.btn-response:hover {
  background-color: var(--color-white);
  color: var(--color-purple-very-dark);
  border: 2px solid var(--color-purple-very-dark);
}

/* CARTÃO - FRONT */

.card-front img,
.card-back img {
  width: 100%;
}

.card-front {
  width: 400px;

  position: absolute;
  top: 50%;
  transform: translateY(calc(50% - 350px));
  right: -15%;
  z-index: 10;
}

.card-front img {
  position: relative;
}

.content-card-front {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 0;
  left: 0;

  padding-top: 20px;
  padding-inline: 20px;
}

.content-circles {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-white);
}

.circleSmall {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--color-white);
}

.number-card {
  width: 100%;
  height: 5rem;
  color: var(--color-white);
  font-size: 1.5rem;
  letter-spacing: 4px;
  text-decoration: none;

  display: flex;
  align-items: end;
}

.name-valid-card {
  width: 100%;
  height: 3.5rem;
  color: var(--color-white);
  text-transform: uppercase;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

/* CARTÃO - BACK */

.card-back {
  width: 400px;

  position: absolute;
  top: 50%;
  transform: translateY(calc(50% - 100px));
  right: -30%;
  z-index: 9;
}

.card-back img {
  position: relative;
}

.content-card-back {
  position: absolute;
  bottom: 47%;
  right: 14%;
}

.content-card-back p {
  color: var(--color-white);
  letter-spacing: 2px;
}
