$color-white: #ffffff;
$color-black: #000;
$color-purple-light: #dedddf;
$color-purple-dark: #8e8593;
$color-purple-very-dark: #21092f;
$border-input-active: #600594;
$color-background-check: linear-gradient(#6347ff, #600594);
$border-erro-red: #ff0000c2;
